.navbar-brand {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.navbar-brand img {
    width: 50px;
    margin-right: 10px;
}

.navbar-brand span {
    font-size: 1 em;
    color: white;
}

.navbar-custom {
    background-color: black;
}

.custom-search-button {
    background-color: #28a745 !important;
    color: white;
    border: white;
  }