.rd_container {
  width: 800px;
  height: 80vh;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: left;
  overflow-y: auto;
}

.rd-title-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}

.recipe-image {
  display: block;
  margin: 20px auto; 
  width: 300px; 
  height: 300px;
  object-fit: cover; 
  border-radius: 4px; 
}

.rd-title {
  margin: 0;
  text-align: center;
}

.ing_section {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;
  align-items: start;
}

.section-title {
  grid-column: span 2;
  margin-bottom: 10px;
}

.ing_list {
  list-style-type: disc;
  padding-left: 2ch;
  margin: 0;
}

.ing_list-item {
  margin-bottom: 5px;
}

.ins_list {
  list-style-type: decimal;
  padding-left: 2ch;
}

.ins_list-item {
  margin-bottom: 5px;
}
