html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.recipe-wrapper {
  height: 100vh;
  padding-top: 75px;
  box-sizing: border-box;
  padding-right: 5px;
  overflow-y: auto;
}

.recipe-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 20px;
  box-sizing: border-box;
}

.recipe-tile-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.recipe-tile-container {
  box-sizing: border-box;
  border-radius: 8px;
  flex: 1;
}

.delete-button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

button.delete-button {
  background-color: #ff6666;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
  max-width: 100%;
}